scilab/modules/core/xml/modules.dtd

<!ELEMENT module EMPTY >
<!ATTLIST module activate ( no | yes ) #REQUIRED >
<!ATTLIST module name ID #REQUIRED >

<!ELEMENT modules ( module+ ) >


<!ATTLIST META 
CATEGORY 	CDATA 	"Scilab modules" 	 
VERSION_SCI 	CDATA 	"5.3" 	 
VERSION_DOC 	CDATA 	"1.1" 	 
AUTHOR 	CDATA 	"Allan CORNET DIGITEO 2010" >

