scilab/modules/jvm/xml/classpath.dtd

<!ELEMENT CLASSPATH (META?,CLASS*)>
<!ATTLIST CLASSPATH name CDATA #IMPLIED>

<!ELEMENT META (#PCDATA)>

<!ATTLIST META 
CATEGORY 	CDATA 	"Scilab classpath" 	 
VERSION_SCI 	CDATA 	"5.0" 	 
VERSION_DOC 	CDATA 	"1.0" 	 
AUTHOR 	CDATA 	"Allan CORNET INRIA 2007" 	 
 >

<!ELEMENT CLASS (#PCDATA)>
<!ATTLIST CLASS path CDATA #IMPLIED>
