scilab/modules/jvm/xml/jvm-options.dtd

<!ELEMENT jvm_options ( option+ ) >

<!ATTLIST META
CATEGORY    CDATA "Scilab jvm_options"
VERSION_SCI CDATA "5.5"
VERSION_DOC CDATA "1.1"
AUTHOR      CDATA "Allan CORNET - DIGITEO - 2010"
AUTHOR      CDATA "Vincent COUVERT - Scilab Enterprises - 2014">

<!ELEMENT option EMPTY >
<!ATTLIST option value CDATA #REQUIRED >
<!ATTLIST option os CDATA #IMPLIED >

