scilab/modules/jvm/xml/librarypath.dtd

<!ELEMENT librarypaths (META?,CLASS*)>
<!ATTLIST librarypaths name CDATA #IMPLIED>

<!ELEMENT META (#PCDATA)>

<!ATTLIST META 
CATEGORY 	CDATA 	"Scilab classpath" 	 
VERSION_SCI 	CDATA 	"5.0" 	 
VERSION_DOC 	CDATA 	"1.0" 	 
AUTHOR 	CDATA 	"Allan CORNET INRIA 2007" 	 
 >

<!ELEMENT librarypath (#PCDATA)>
<!ATTLIST librarypath path CDATA #IMPLIED>
