scilab/modules/localization/xml/localization.dtd

<!ELEMENT LOCALIZATION (entry*)>

<!ELEMENT META (#PCDATA)  	 >

<!ATTLIST META 
CATEGORY 	CDATA 	"Scilab localization" 	 
VERSION_SCI 	CDATA 	"5.0" 	 
VERSION_DOC 	CDATA 	"1.0" 	 
AUTHOR 	CDATA 	"Allan CORNET - INRIA 2007" 	 
 >

<!ELEMENT entry (msgpreviousid?,msgid,msgstr) >

<!ELEMENT msgpreviousid (#PCDATA)>
<!ELEMENT msgid (#PCDATA)>
<!ELEMENT msgstr (#PCDATA)>