scilab/modules/xcos/etc/XcosFile.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="XcosDiagram" type="XcosDiagramType"/>
  <xs:element name="SuperBlockDiagram" type="SuperBlockDiagramType"/>
  <xs:complexType name="addType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="value" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="ArrayType" mixed="true">
    <xs:choice maxOccurs="unbounded" minOccurs="0">
      <xs:element type="addType" name="add"/>
      <xs:element type="ScilabDoubleType" name="ScilabDouble"/>
      <xs:element type="ScilabStringType" name="ScilabString"/>
      <xs:element type="ArrayType" name="Array"/>
      <xs:element type="dataType" name="data"/>
      <xs:element type="mxPointType" name="mxPoint"/>
      <xs:element type="ScilabBooleanType" name="ScilabBoolean"/>
      <xs:element type="ScilabIntegerType" name="ScilabInteger"/>
    </xs:choice>
    <xs:attribute type="xs:string" name="as" use="optional"/>
    <xs:attribute type="xs:string" name="scilabClass" use="optional"/>
    <xs:attribute type="xs:short" name="height" use="optional"/>
    <xs:attribute type="xs:byte" name="width" use="optional"/>
  </xs:complexType>
  <xs:complexType name="mxCellType" mixed="true">
    <xs:choice maxOccurs="unbounded" minOccurs="0">
      <xs:element type="mxGeometryType" name="mxGeometry"/>
      <xs:element type="ScilabStringType" name="ScilabString"/>
      <xs:element type="ScilabDoubleType" name="ScilabDouble"/>
      <xs:element type="ArrayType" name="Array"/>
      <xs:element type="mxCellType" name="mxCell"/>
      <xs:element type="ImplicitOutputPortType" name="ImplicitOutputPort"/>
      <xs:element type="ImplicitInputPortType" name="ImplicitInputPort"/>
      <xs:element type="OrientationType" name="Orientation"/>
      <xs:element type="ExplicitOutputPortType" name="ExplicitOutputPort"/>
      <xs:element type="ExplicitInputPortType" name="ExplicitInputPort"/>
      <xs:element type="CommandPortType" name="CommandPort"/>
      <xs:element type="ControlPortType" name="ControlPort"/>
      <xs:element type="SuperBlockDiagramType" name="SuperBlockDiagram"/>
    </xs:choice>
    <xs:attribute type="xs:string" name="id" use="optional"/>
    <xs:attribute type="xs:string" name="parent" use="optional"/>
    <xs:attribute type="xs:string" name="as" use="optional"/>
    <xs:attribute type="xs:byte" name="edge" use="optional"/>
    <xs:attribute type="xs:string" name="source" use="optional"/>
    <xs:attribute type="xs:string" name="style" use="optional"/>
    <xs:attribute type="xs:string" name="value" use="optional"/>
    <xs:attribute type="xs:byte" name="ordering" use="optional"/>
    <xs:attribute type="xs:string" name="simulationFunctionType" use="optional"/>
    <xs:attribute type="xs:byte" name="connectable" use="optional"/>
    <xs:attribute type="xs:byte" name="dataLines" use="optional"/>
    <xs:attribute type="xs:string" name="dataType" use="optional"/>
    <xs:attribute type="xs:short" name="connectedLinkId" use="optional"/>
    <xs:attribute type="xs:byte" name="dataColumns" use="optional"/>
    <xs:attribute type="xs:byte" name="visible" use="optional"/>
    <xs:attribute type="xs:short" name="angle" use="optional"/>
    <xs:attribute type="xs:byte" name="dependsOnU" use="optional"/>
    <xs:attribute type="xs:string" name="interfaceFunctionName" use="optional"/>
    <xs:attribute type="xs:string" name="simulationFunctionName" use="optional"/>
    <xs:attribute type="xs:string" name="blockType" use="optional"/>
    <xs:attribute type="xs:byte" name="dependsOnT" use="optional"/>
    <xs:attribute type="xs:byte" name="vertex" use="optional"/>
  </xs:complexType>
  <xs:complexType name="dataType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:byte" name="column" use="optional"/>
        <xs:attribute type="xs:short" name="line" use="optional"/>
        <xs:attribute type="xs:string" name="value" use="optional"/>
        <xs:attribute type="xs:float" name="realPart" use="optional"/>
        <xs:attribute type="xs:string" name="bUnsigned" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="ScilabStringType" mixed="true">
    <xs:choice maxOccurs="unbounded" minOccurs="0">
      <xs:element type="dataType" name="data"/>
      <xs:element type="addType" name="add"/>
      <xs:element type="ScilabDoubleType" name="ScilabDouble"/>
      <xs:element type="ScilabStringType" name="ScilabString"/>
      <xs:element type="ArrayType" name="Array"/>
      <xs:element type="mxPointType" name="mxPoint"/>
      <xs:element type="ScilabBooleanType" name="ScilabBoolean"/>
      <xs:element type="ScilabIntegerType" name="ScilabInteger"/>
    </xs:choice>
    <xs:attribute type="xs:string" name="as" use="optional"/>
    <xs:attribute type="xs:short" name="height" use="optional"/>
    <xs:attribute type="xs:byte" name="width" use="optional"/>
    <xs:attribute type="xs:string" name="scilabClass" use="optional"/>
  </xs:complexType>
  <xs:complexType name="ScilabDoubleType" mixed="true">
    <xs:choice maxOccurs="unbounded" minOccurs="0">
      <xs:element type="addType" name="add"/>
      <xs:element type="ScilabDoubleType" name="ScilabDouble"/>
      <xs:element type="ScilabStringType" name="ScilabString"/>
      <xs:element type="ArrayType" name="Array"/>
      <xs:element type="dataType" name="data"/>
      <xs:element type="mxPointType" name="mxPoint"/>
      <xs:element type="ScilabBooleanType" name="ScilabBoolean"/>
      <xs:element type="ScilabIntegerType" name="ScilabInteger"/>
    </xs:choice>
    <xs:attribute type="xs:string" name="as" use="optional"/>
    <xs:attribute type="xs:short" name="height" use="optional"/>
    <xs:attribute type="xs:byte" name="width" use="optional"/>
    <xs:attribute type="xs:string" name="scilabClass" use="optional"/>
  </xs:complexType>
  <xs:complexType name="mxGeometryType" mixed="true">
    <xs:choice maxOccurs="unbounded" minOccurs="0">
      <xs:element type="mxPointType" name="mxPoint"/>
      <xs:element type="ArrayType" name="Array"/>
    </xs:choice>
    <xs:attribute type="xs:string" name="as" use="optional"/>
    <xs:attribute type="xs:float" name="height" use="optional"/>
    <xs:attribute type="xs:float" name="width" use="optional"/>
    <xs:attribute type="xs:float" name="x" use="optional"/>
    <xs:attribute type="xs:float" name="y" use="optional"/>
    <xs:attribute type="xs:byte" name="relative" use="optional"/>
  </xs:complexType>
  <xs:complexType name="BasicBlockType" mixed="true">
    <xs:choice maxOccurs="unbounded" minOccurs="0">
      <xs:element type="ScilabStringType" name="ScilabString"/>
      <xs:element type="ScilabDoubleType" name="ScilabDouble"/>
      <xs:element type="ArrayType" name="Array"/>
      <xs:element type="mxGeometryType" name="mxGeometry" minOccurs="0"/>
      <xs:element type="mxCellType" name="mxCell"/>
      <xs:element type="ImplicitOutputPortType" name="ImplicitOutputPort"/>
      <xs:element type="ImplicitInputPortType" name="ImplicitInputPort"/>
      <xs:element type="OrientationType" name="Orientation"/>
      <xs:element type="ExplicitOutputPortType" name="ExplicitOutputPort"/>
      <xs:element type="ExplicitInputPortType" name="ExplicitInputPort"/>
      <xs:element type="CommandPortType" name="CommandPort"/>
      <xs:element type="ControlPortType" name="ControlPort"/>
      <xs:element type="SuperBlockDiagramType" name="SuperBlockDiagram"/>
    </xs:choice>
    <xs:attribute type="xs:short" name="angle" use="optional"/>
    <xs:attribute type="xs:byte" name="dependsOnU" use="optional"/>
    <xs:attribute type="xs:string" name="id" use="optional"/>
    <xs:attribute type="xs:string" name="interfaceFunctionName" use="optional"/>
    <xs:attribute type="xs:byte" name="ordering" use="optional"/>
    <xs:attribute type="xs:string" name="parent" use="optional"/>
    <xs:attribute type="xs:string" name="simulationFunctionName" use="optional"/>
    <xs:attribute type="xs:string" name="simulationFunctionType" use="optional"/>
    <xs:attribute type="xs:string" name="style" use="optional"/>
    <xs:attribute type="xs:string" name="value" use="optional"/>
    <xs:attribute type="xs:byte" name="connectable" use="optional"/>
    <xs:attribute type="xs:byte" name="dataLines" use="optional"/>
    <xs:attribute type="xs:string" name="dataType" use="optional"/>
    <xs:attribute type="xs:short" name="connectedLinkId" use="optional"/>
    <xs:attribute type="xs:byte" name="dataColumns" use="optional"/>
    <xs:attribute type="xs:byte" name="visible" use="optional"/>
    <xs:attribute type="xs:string" name="as" use="optional"/>
    <xs:attribute type="xs:string" name="blockType" use="optional"/>
    <xs:attribute type="xs:byte" name="dependsOnT" use="optional"/>
    <xs:attribute type="xs:byte" name="vertex" use="optional"/>
    <xs:attribute type="xs:byte" name="edge" use="optional"/>
    <xs:attribute type="xs:string" name="source" use="optional"/>
    <xs:attribute type="xs:float" name="initialState" use="optional"/>
  </xs:complexType>
  <xs:complexType name="ImplicitOutputPortType" mixed="true">
    <xs:choice maxOccurs="unbounded" minOccurs="0">
      <xs:element type="mxGeometryType" name="mxGeometry" minOccurs="0"/>
      <xs:element type="ScilabStringType" name="ScilabString"/>
      <xs:element type="ScilabDoubleType" name="ScilabDouble"/>
      <xs:element type="ArrayType" name="Array"/>
      <xs:element type="mxCellType" name="mxCell"/>
      <xs:element type="ImplicitOutputPortType" name="ImplicitOutputPort"/>
      <xs:element type="ImplicitInputPortType" name="ImplicitInputPort"/>
      <xs:element type="OrientationType" name="Orientation"/>
      <xs:element type="ExplicitOutputPortType" name="ExplicitOutputPort"/>
      <xs:element type="ExplicitInputPortType" name="ExplicitInputPort"/>
      <xs:element type="CommandPortType" name="CommandPort"/>
      <xs:element type="ControlPortType" name="ControlPort"/>
      <xs:element type="SuperBlockDiagramType" name="SuperBlockDiagram"/>
    </xs:choice>
    <xs:attribute type="xs:byte" name="connectable" use="optional"/>
    <xs:attribute type="xs:byte" name="dataLines" use="optional"/>
    <xs:attribute type="xs:string" name="dataType" use="optional"/>
    <xs:attribute type="xs:string" name="id" use="optional"/>
    <xs:attribute type="xs:byte" name="ordering" use="optional"/>
    <xs:attribute type="xs:string" name="parent" use="optional"/>
    <xs:attribute type="xs:string" name="style" use="optional"/>
    <xs:attribute type="xs:short" name="connectedLinkId" use="optional"/>
    <xs:attribute type="xs:byte" name="dataColumns" use="optional"/>
    <xs:attribute type="xs:byte" name="visible" use="optional"/>
    <xs:attribute type="xs:string" name="as" use="optional"/>
    <xs:attribute type="xs:short" name="angle" use="optional"/>
    <xs:attribute type="xs:byte" name="dependsOnU" use="optional"/>
    <xs:attribute type="xs:string" name="interfaceFunctionName" use="optional"/>
    <xs:attribute type="xs:string" name="simulationFunctionName" use="optional"/>
    <xs:attribute type="xs:string" name="simulationFunctionType" use="optional"/>
    <xs:attribute type="xs:string" name="value" use="optional"/>
    <xs:attribute type="xs:string" name="blockType" use="optional"/>
    <xs:attribute type="xs:byte" name="dependsOnT" use="optional"/>
    <xs:attribute type="xs:byte" name="vertex" use="optional"/>
    <xs:attribute type="xs:byte" name="edge" use="optional"/>
    <xs:attribute type="xs:string" name="source" use="optional"/>
    <xs:attribute type="xs:float" name="initialState" use="optional"/>
  </xs:complexType>
  <xs:complexType name="ImplicitInputPortType" mixed="true">
    <xs:choice maxOccurs="unbounded" minOccurs="0">
      <xs:element type="mxGeometryType" name="mxGeometry"/>
      <xs:element type="ScilabStringType" name="ScilabString"/>
      <xs:element type="ScilabDoubleType" name="ScilabDouble"/>
      <xs:element type="ArrayType" name="Array"/>
      <xs:element type="mxCellType" name="mxCell"/>
      <xs:element type="ImplicitOutputPortType" name="ImplicitOutputPort"/>
      <xs:element type="ImplicitInputPortType" name="ImplicitInputPort"/>
      <xs:element type="OrientationType" name="Orientation"/>
      <xs:element type="ExplicitOutputPortType" name="ExplicitOutputPort"/>
      <xs:element type="ExplicitInputPortType" name="ExplicitInputPort"/>
      <xs:element type="CommandPortType" name="CommandPort"/>
      <xs:element type="ControlPortType" name="ControlPort"/>
      <xs:element type="SuperBlockDiagramType" name="SuperBlockDiagram"/>
    </xs:choice>
    <xs:attribute type="xs:byte" name="connectable" use="optional"/>
    <xs:attribute type="xs:byte" name="dataLines" use="optional"/>
    <xs:attribute type="xs:string" name="dataType" use="optional"/>
    <xs:attribute type="xs:string" name="id" use="optional"/>
    <xs:attribute type="xs:byte" name="ordering" use="optional"/>
    <xs:attribute type="xs:string" name="parent" use="optional"/>
    <xs:attribute type="xs:string" name="style" use="optional"/>
    <xs:attribute type="xs:short" name="connectedLinkId" use="optional"/>
    <xs:attribute type="xs:byte" name="dataColumns" use="optional"/>
    <xs:attribute type="xs:byte" name="visible" use="optional"/>
    <xs:attribute type="xs:string" name="as" use="optional"/>
    <xs:attribute type="xs:short" name="angle" use="optional"/>
    <xs:attribute type="xs:byte" name="dependsOnU" use="optional"/>
    <xs:attribute type="xs:string" name="interfaceFunctionName" use="optional"/>
    <xs:attribute type="xs:string" name="simulationFunctionName" use="optional"/>
    <xs:attribute type="xs:string" name="simulationFunctionType" use="optional"/>
    <xs:attribute type="xs:string" name="value" use="optional"/>
    <xs:attribute type="xs:string" name="blockType" use="optional"/>
    <xs:attribute type="xs:byte" name="dependsOnT" use="optional"/>
    <xs:attribute type="xs:byte" name="vertex" use="optional"/>
    <xs:attribute type="xs:byte" name="edge" use="optional"/>
    <xs:attribute type="xs:string" name="source" use="optional"/>
    <xs:attribute type="xs:float" name="initialState" use="optional"/>
  </xs:complexType>
  <xs:complexType name="ImplicitInBlockType" mixed="true">
    <xs:choice maxOccurs="unbounded" minOccurs="0">
      <xs:element type="ScilabStringType" name="ScilabString"/>
      <xs:element type="ScilabDoubleType" name="ScilabDouble"/>
      <xs:element type="ArrayType" name="Array"/>
      <xs:element type="mxGeometryType" name="mxGeometry"/>
      <xs:element type="mxCellType" name="mxCell"/>
      <xs:element type="ImplicitOutputPortType" name="ImplicitOutputPort"/>
      <xs:element type="ImplicitInputPortType" name="ImplicitInputPort"/>
      <xs:element type="OrientationType" name="Orientation"/>
      <xs:element type="ExplicitOutputPortType" name="ExplicitOutputPort"/>
      <xs:element type="ExplicitInputPortType" name="ExplicitInputPort"/>
      <xs:element type="CommandPortType" name="CommandPort"/>
      <xs:element type="ControlPortType" name="ControlPort"/>
      <xs:element type="SuperBlockDiagramType" name="SuperBlockDiagram"/>
    </xs:choice>
    <xs:attribute type="xs:string" name="id" use="optional"/>
    <xs:attribute type="xs:byte" name="ordering" use="optional"/>
    <xs:attribute type="xs:string" name="parent" use="optional"/>
    <xs:attribute type="xs:string" name="simulationFunctionType" use="optional"/>
    <xs:attribute type="xs:string" name="style" use="optional"/>
    <xs:attribute type="xs:string" name="value" use="optional"/>
    <xs:attribute type="xs:byte" name="connectable" use="optional"/>
    <xs:attribute type="xs:byte" name="dataLines" use="optional"/>
    <xs:attribute type="xs:string" name="dataType" use="optional"/>
    <xs:attribute type="xs:short" name="connectedLinkId" use="optional"/>
    <xs:attribute type="xs:byte" name="dataColumns" use="optional"/>
    <xs:attribute type="xs:byte" name="visible" use="optional"/>
    <xs:attribute type="xs:string" name="as" use="optional"/>
    <xs:attribute type="xs:short" name="angle" use="optional"/>
    <xs:attribute type="xs:byte" name="dependsOnU" use="optional"/>
    <xs:attribute type="xs:string" name="interfaceFunctionName" use="optional"/>
    <xs:attribute type="xs:string" name="simulationFunctionName" use="optional"/>
    <xs:attribute type="xs:string" name="blockType" use="optional"/>
    <xs:attribute type="xs:byte" name="dependsOnT" use="optional"/>
    <xs:attribute type="xs:byte" name="vertex" use="optional"/>
    <xs:attribute type="xs:byte" name="edge" use="optional"/>
    <xs:attribute type="xs:string" name="source" use="optional"/>
  </xs:complexType>
  <xs:complexType name="ImplicitOutBlockType" mixed="true">
    <xs:choice maxOccurs="unbounded" minOccurs="0">
      <xs:element type="ScilabStringType" name="ScilabString"/>
      <xs:element type="ScilabDoubleType" name="ScilabDouble"/>
      <xs:element type="ArrayType" name="Array"/>
      <xs:element type="mxGeometryType" name="mxGeometry"/>
      <xs:element type="mxCellType" name="mxCell"/>
      <xs:element type="ImplicitOutputPortType" name="ImplicitOutputPort"/>
      <xs:element type="ImplicitInputPortType" name="ImplicitInputPort"/>
      <xs:element type="OrientationType" name="Orientation"/>
      <xs:element type="ExplicitOutputPortType" name="ExplicitOutputPort"/>
      <xs:element type="ExplicitInputPortType" name="ExplicitInputPort"/>
      <xs:element type="CommandPortType" name="CommandPort"/>
      <xs:element type="ControlPortType" name="ControlPort"/>
      <xs:element type="SuperBlockDiagramType" name="SuperBlockDiagram"/>
    </xs:choice>
    <xs:attribute type="xs:string" name="id" use="optional"/>
    <xs:attribute type="xs:byte" name="ordering" use="optional"/>
    <xs:attribute type="xs:string" name="parent" use="optional"/>
    <xs:attribute type="xs:string" name="simulationFunctionType" use="optional"/>
    <xs:attribute type="xs:string" name="style" use="optional"/>
    <xs:attribute type="xs:byte" name="connectable" use="optional"/>
    <xs:attribute type="xs:byte" name="dataLines" use="optional"/>
    <xs:attribute type="xs:string" name="dataType" use="optional"/>
    <xs:attribute type="xs:short" name="connectedLinkId" use="optional"/>
    <xs:attribute type="xs:byte" name="dataColumns" use="optional"/>
    <xs:attribute type="xs:byte" name="visible" use="optional"/>
    <xs:attribute type="xs:string" name="as" use="optional"/>
    <xs:attribute type="xs:short" name="angle" use="optional"/>
    <xs:attribute type="xs:byte" name="dependsOnU" use="optional"/>
    <xs:attribute type="xs:string" name="interfaceFunctionName" use="optional"/>
    <xs:attribute type="xs:string" name="simulationFunctionName" use="optional"/>
    <xs:attribute type="xs:string" name="value" use="optional"/>
    <xs:attribute type="xs:string" name="blockType" use="optional"/>
    <xs:attribute type="xs:byte" name="dependsOnT" use="optional"/>
    <xs:attribute type="xs:byte" name="vertex" use="optional"/>
    <xs:attribute type="xs:byte" name="edge" use="optional"/>
    <xs:attribute type="xs:string" name="source" use="optional"/>
  </xs:complexType>
  <xs:complexType name="SplitBlockType" mixed="true">
    <xs:choice maxOccurs="unbounded" minOccurs="0">
      <xs:element type="mxGeometryType" name="mxGeometry"/>
      <xs:element type="ScilabStringType" name="ScilabString"/>
      <xs:element type="ScilabDoubleType" name="ScilabDouble"/>
      <xs:element type="ArrayType" name="Array"/>
      <xs:element type="mxCellType" name="mxCell"/>
      <xs:element type="ImplicitOutputPortType" name="ImplicitOutputPort"/>
      <xs:element type="ImplicitInputPortType" name="ImplicitInputPort"/>
      <xs:element type="OrientationType" name="Orientation"/>
      <xs:element type="ExplicitOutputPortType" name="ExplicitOutputPort"/>
      <xs:element type="ExplicitInputPortType" name="ExplicitInputPort"/>
      <xs:element type="CommandPortType" name="CommandPort"/>
      <xs:element type="ControlPortType" name="ControlPort"/>
      <xs:element type="SuperBlockDiagramType" name="SuperBlockDiagram"/>
    </xs:choice>
    <xs:attribute type="xs:string" name="id" use="optional"/>
    <xs:attribute type="xs:byte" name="ordering" use="optional"/>
    <xs:attribute type="xs:string" name="parent" use="optional"/>
    <xs:attribute type="xs:string" name="simulationFunctionType" use="optional"/>
    <xs:attribute type="xs:string" name="style" use="optional"/>
    <xs:attribute type="xs:byte" name="connectable" use="optional"/>
    <xs:attribute type="xs:byte" name="dataLines" use="optional"/>
    <xs:attribute type="xs:string" name="dataType" use="optional"/>
    <xs:attribute type="xs:short" name="connectedLinkId" use="optional"/>
    <xs:attribute type="xs:byte" name="dataColumns" use="optional"/>
    <xs:attribute type="xs:byte" name="visible" use="optional"/>
    <xs:attribute type="xs:string" name="as" use="optional"/>
    <xs:attribute type="xs:short" name="angle" use="optional"/>
    <xs:attribute type="xs:byte" name="dependsOnU" use="optional"/>
    <xs:attribute type="xs:string" name="interfaceFunctionName" use="optional"/>
    <xs:attribute type="xs:string" name="simulationFunctionName" use="optional"/>
    <xs:attribute type="xs:string" name="value" use="optional"/>
    <xs:attribute type="xs:string" name="blockType" use="optional"/>
    <xs:attribute type="xs:byte" name="dependsOnT" use="optional"/>
    <xs:attribute type="xs:byte" name="vertex" use="optional"/>
    <xs:attribute type="xs:byte" name="edge" use="optional"/>
    <xs:attribute type="xs:string" name="source" use="optional"/>
    <xs:attribute type="xs:float" name="initialState" use="optional"/>
  </xs:complexType>
  <xs:complexType name="ImplicitLinkType" mixed="true">
    <xs:choice maxOccurs="unbounded" minOccurs="0">
      <xs:element type="mxGeometryType" name="mxGeometry"/>
      <xs:element type="mxCellType" name="mxCell"/>
      <xs:element type="ImplicitOutputPortType" name="ImplicitOutputPort"/>
      <xs:element type="ImplicitInputPortType" name="ImplicitInputPort"/>
      <xs:element type="ScilabStringType" name="ScilabString"/>
      <xs:element type="ScilabDoubleType" name="ScilabDouble"/>
      <xs:element type="ArrayType" name="Array"/>
      <xs:element type="OrientationType" name="Orientation"/>
      <xs:element type="ExplicitOutputPortType" name="ExplicitOutputPort"/>
      <xs:element type="ExplicitInputPortType" name="ExplicitInputPort"/>
      <xs:element type="CommandPortType" name="CommandPort"/>
      <xs:element type="ControlPortType" name="ControlPort"/>
      <xs:element type="SuperBlockDiagramType" name="SuperBlockDiagram"/>
    </xs:choice>
    <xs:attribute type="xs:string" name="id" use="optional"/>
    <xs:attribute type="xs:string" name="style" use="optional"/>
    <xs:attribute type="xs:byte" name="ordering" use="optional"/>
    <xs:attribute type="xs:string" name="parent" use="optional"/>
    <xs:attribute type="xs:string" name="simulationFunctionType" use="optional"/>
    <xs:attribute type="xs:byte" name="connectable" use="optional"/>
    <xs:attribute type="xs:byte" name="dataLines" use="optional"/>
    <xs:attribute type="xs:string" name="dataType" use="optional"/>
    <xs:attribute type="xs:short" name="connectedLinkId" use="optional"/>
    <xs:attribute type="xs:byte" name="dataColumns" use="optional"/>
    <xs:attribute type="xs:byte" name="visible" use="optional"/>
    <xs:attribute type="xs:string" name="as" use="optional"/>
    <xs:attribute type="xs:short" name="angle" use="optional"/>
    <xs:attribute type="xs:byte" name="dependsOnU" use="optional"/>
    <xs:attribute type="xs:string" name="interfaceFunctionName" use="optional"/>
    <xs:attribute type="xs:string" name="simulationFunctionName" use="optional"/>
    <xs:attribute type="xs:string" name="value" use="optional"/>
    <xs:attribute type="xs:string" name="blockType" use="optional"/>
    <xs:attribute type="xs:byte" name="dependsOnT" use="optional"/>
    <xs:attribute type="xs:byte" name="vertex" use="optional"/>
    <xs:attribute type="xs:byte" name="edge" use="optional"/>
    <xs:attribute type="xs:string" name="source" use="optional"/>
    <xs:attribute type="xs:float" name="initialState" use="optional"/>
  </xs:complexType>
  <xs:complexType name="mxPointType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="as" use="optional"/>
        <xs:attribute type="xs:float" name="x" use="optional"/>
        <xs:attribute type="xs:float" name="y" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="rootType">
    <xs:choice maxOccurs="unbounded" minOccurs="0">
      <xs:element type="mxCellType" name="mxCell"/>
      <xs:element type="BasicBlockType" name="BasicBlock"/>
      <xs:element type="ImplicitOutputPortType" name="ImplicitOutputPort"/>
      <xs:element type="ImplicitInputPortType" name="ImplicitInputPort"/>
      <xs:element type="ImplicitInBlockType" name="ImplicitInBlock"/>
      <xs:element type="ImplicitOutBlockType" name="ImplicitOutBlock"/>
      <xs:element type="SplitBlockType" name="SplitBlock"/>
      <xs:element type="ImplicitLinkType" name="ImplicitLink"/>
      <xs:element type="SuperBlockType" name="SuperBlock"/>
      <xs:element type="ExplicitInputPortType" name="ExplicitInputPort"/>
      <xs:element type="ExplicitOutputPortType" name="ExplicitOutputPort"/>
      <xs:element type="CommandControlLinkType" name="CommandControlLink"/>
      <xs:element type="ExplicitLinkType" name="ExplicitLink"/>
      <xs:element type="TextBlockType" name="TextBlock"/>
      <xs:element type="CommandPortType" name="CommandPort"/>
      <xs:element type="GroundBlockType" name="GroundBlock"/>
      <xs:element type="ControlPortType" name="ControlPort"/>
      <xs:element type="GainBlockType" name="GainBlock"/>
      <xs:element type="ExplicitOutBlockType" name="ExplicitOutBlock"/>
      <xs:element type="ConstBlockType" name="ConstBlock"/>
      <xs:element type="VoltageSensorBlockType" name="VoltageSensorBlock"/>
      <xs:element type="AfficheBlockType" name="AfficheBlock"/>
      <xs:element type="ExplicitInBlockType" name="ExplicitInBlock"/>
      <xs:element type="BigSomType" name="BigSom"/>
      <xs:element type="ProductType" name="Product"/>
      <xs:element type="RoundBlockType" name="RoundBlock"/>
      <xs:element type="EventInBlockType" name="EventInBlock"/>
      <xs:element type="SummationType" name="Summation"/>
      <xs:element type="PrintBlockType" name="PrintBlock"/>
      <xs:element type="EventOutBlockType" name="EventOutBlock"/>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="mxGraphModelType">
    <xs:sequence>
      <xs:element type="rootType" name="root"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="as" use="optional"/>
  </xs:complexType>
  <xs:complexType name="SuperBlockDiagramType">
    <xs:sequence>
      <xs:element type="ArrayType" name="Array" minOccurs="0"/>
      <xs:element type="mxGraphModelType" name="mxGraphModel"/>
      <xs:element type="mxCellType" name="mxCell"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="as" use="optional"/>
    <xs:attribute type="xs:byte" name="background" use="optional"/>
    <xs:attribute type="xs:float" name="finalIntegrationTime" use="optional"/>
    <xs:attribute type="xs:float" name="solver" use="optional"/>
    <xs:attribute type="xs:string" name="title" use="optional"/>
    <xs:attribute type="xs:byte" name="gridEnabled" use="optional"/>
    <xs:attribute type="xs:float" name="integratorRelativeTolerance" use="optional"/>
    <xs:attribute type="xs:float" name="toleranceOnTime" use="optional"/>
    <xs:attribute type="xs:float" name="integratorAbsoluteTolerance" use="optional"/>
    <xs:attribute type="xs:float" name="maxIntegrationTimeInterval" use="optional"/>
  </xs:complexType>
  <xs:complexType name="ScilabBooleanType" mixed="true">
    <xs:choice maxOccurs="unbounded" minOccurs="0">
      <xs:element type="dataType" name="data"/>
      <xs:element type="addType" name="add"/>
      <xs:element type="ScilabDoubleType" name="ScilabDouble"/>
      <xs:element type="ScilabStringType" name="ScilabString"/>
      <xs:element type="ArrayType" name="Array"/>
      <xs:element type="mxPointType" name="mxPoint"/>
      <xs:element type="ScilabBooleanType" name="ScilabBoolean"/>
      <xs:element type="ScilabIntegerType" name="ScilabInteger"/>
    </xs:choice>
    <xs:attribute type="xs:short" name="height" use="optional"/>
    <xs:attribute type="xs:byte" name="width" use="optional"/>
    <xs:attribute type="xs:string" name="as" use="optional"/>
    <xs:attribute type="xs:string" name="scilabClass" use="optional"/>
  </xs:complexType>
  <xs:complexType name="SuperBlockType" mixed="true">
    <xs:choice maxOccurs="unbounded" minOccurs="0">
      <xs:element type="SuperBlockDiagramType" name="SuperBlockDiagram"/>
      <xs:element type="ArrayType" name="Array"/>
      <xs:element type="mxGeometryType" name="mxGeometry"/>
      <xs:element type="ScilabStringType" name="ScilabString"/>
      <xs:element type="ScilabDoubleType" name="ScilabDouble"/>
      <xs:element type="mxCellType" name="mxCell"/>
      <xs:element type="ImplicitOutputPortType" name="ImplicitOutputPort"/>
      <xs:element type="ImplicitInputPortType" name="ImplicitInputPort"/>
      <xs:element type="OrientationType" name="Orientation"/>
      <xs:element type="ExplicitOutputPortType" name="ExplicitOutputPort"/>
      <xs:element type="ExplicitInputPortType" name="ExplicitInputPort"/>
      <xs:element type="CommandPortType" name="CommandPort"/>
      <xs:element type="ControlPortType" name="ControlPort"/>
    </xs:choice>
    <xs:attribute type="xs:string" name="id" use="optional"/>
    <xs:attribute type="xs:byte" name="ordering" use="optional"/>
    <xs:attribute type="xs:string" name="parent" use="optional"/>
    <xs:attribute type="xs:string" name="simulationFunctionType" use="optional"/>
    <xs:attribute type="xs:string" name="style" use="optional"/>
    <xs:attribute type="xs:string" name="value" use="optional"/>
    <xs:attribute type="xs:byte" name="connectable" use="optional"/>
    <xs:attribute type="xs:byte" name="dataLines" use="optional"/>
    <xs:attribute type="xs:string" name="dataType" use="optional"/>
    <xs:attribute type="xs:short" name="connectedLinkId" use="optional"/>
    <xs:attribute type="xs:byte" name="dataColumns" use="optional"/>
    <xs:attribute type="xs:byte" name="visible" use="optional"/>
    <xs:attribute type="xs:string" name="as" use="optional"/>
    <xs:attribute type="xs:short" name="angle" use="optional"/>
    <xs:attribute type="xs:byte" name="dependsOnU" use="optional"/>
    <xs:attribute type="xs:string" name="interfaceFunctionName" use="optional"/>
    <xs:attribute type="xs:string" name="simulationFunctionName" use="optional"/>
    <xs:attribute type="xs:string" name="blockType" use="optional"/>
    <xs:attribute type="xs:byte" name="vertex" use="optional"/>
    <xs:attribute type="xs:byte" name="dependsOnT" use="optional"/>
    <xs:attribute type="xs:byte" name="edge" use="optional"/>
    <xs:attribute type="xs:string" name="source" use="optional"/>
    <xs:attribute type="xs:float" name="initialState" use="optional"/>
  </xs:complexType>
  <xs:complexType name="ExplicitInputPortType" mixed="true">
    <xs:choice maxOccurs="unbounded" minOccurs="0">
      <xs:element type="mxGeometryType" name="mxGeometry"/>
      <xs:element type="ScilabStringType" name="ScilabString"/>
      <xs:element type="ScilabDoubleType" name="ScilabDouble"/>
      <xs:element type="ArrayType" name="Array"/>
      <xs:element type="mxCellType" name="mxCell"/>
      <xs:element type="ImplicitOutputPortType" name="ImplicitOutputPort"/>
      <xs:element type="ImplicitInputPortType" name="ImplicitInputPort"/>
      <xs:element type="OrientationType" name="Orientation"/>
      <xs:element type="ExplicitOutputPortType" name="ExplicitOutputPort"/>
      <xs:element type="ExplicitInputPortType" name="ExplicitInputPort"/>
      <xs:element type="CommandPortType" name="CommandPort"/>
      <xs:element type="ControlPortType" name="ControlPort"/>
      <xs:element type="SuperBlockDiagramType" name="SuperBlockDiagram"/>
    </xs:choice>
    <xs:attribute type="xs:byte" name="connectable" use="optional"/>
    <xs:attribute type="xs:string" name="dataType" use="optional"/>
    <xs:attribute type="xs:string" name="id" use="optional"/>
    <xs:attribute type="xs:byte" name="ordering" use="optional"/>
    <xs:attribute type="xs:string" name="parent" use="optional"/>
    <xs:attribute type="xs:string" name="style" use="optional"/>
    <xs:attribute type="xs:byte" name="dataLines" use="optional"/>
    <xs:attribute type="xs:string" name="as" use="optional"/>
    <xs:attribute type="xs:byte" name="dataColumns" use="optional"/>
    <xs:attribute type="xs:byte" name="visible" use="optional"/>
    <xs:attribute type="xs:short" name="angle" use="optional"/>
    <xs:attribute type="xs:byte" name="dependsOnU" use="optional"/>
    <xs:attribute type="xs:string" name="interfaceFunctionName" use="optional"/>
    <xs:attribute type="xs:string" name="simulationFunctionName" use="optional"/>
    <xs:attribute type="xs:string" name="simulationFunctionType" use="optional"/>
    <xs:attribute type="xs:string" name="value" use="optional"/>
    <xs:attribute type="xs:short" name="connectedLinkId" use="optional"/>
    <xs:attribute type="xs:string" name="blockType" use="optional"/>
    <xs:attribute type="xs:byte" name="dependsOnT" use="optional"/>
    <xs:attribute type="xs:byte" name="vertex" use="optional"/>
    <xs:attribute type="xs:byte" name="edge" use="optional"/>
    <xs:attribute type="xs:string" name="source" use="optional"/>
    <xs:attribute type="xs:float" name="initialState" use="optional"/>
  </xs:complexType>
  <xs:complexType name="ExplicitOutputPortType" mixed="true">
    <xs:choice maxOccurs="unbounded" minOccurs="0">
      <xs:element type="mxGeometryType" name="mxGeometry"/>
      <xs:element type="ScilabStringType" name="ScilabString"/>
      <xs:element type="ScilabDoubleType" name="ScilabDouble"/>
      <xs:element type="ArrayType" name="Array"/>
      <xs:element type="mxCellType" name="mxCell"/>
      <xs:element type="ImplicitOutputPortType" name="ImplicitOutputPort"/>
      <xs:element type="ImplicitInputPortType" name="ImplicitInputPort"/>
      <xs:element type="OrientationType" name="Orientation"/>
      <xs:element type="ExplicitOutputPortType" name="ExplicitOutputPort"/>
      <xs:element type="ExplicitInputPortType" name="ExplicitInputPort"/>
      <xs:element type="CommandPortType" name="CommandPort"/>
      <xs:element type="ControlPortType" name="ControlPort"/>
      <xs:element type="SuperBlockDiagramType" name="SuperBlockDiagram"/>
    </xs:choice>
    <xs:attribute type="xs:byte" name="connectable" use="optional"/>
    <xs:attribute type="xs:string" name="dataType" use="optional"/>
    <xs:attribute type="xs:string" name="id" use="optional"/>
    <xs:attribute type="xs:byte" name="ordering" use="optional"/>
    <xs:attribute type="xs:string" name="parent" use="optional"/>
    <xs:attribute type="xs:string" name="style" use="optional"/>
    <xs:attribute type="xs:string" name="as" use="optional"/>
    <xs:attribute type="xs:byte" name="dataColumns" use="optional"/>
    <xs:attribute type="xs:byte" name="dataLines" use="optional"/>
    <xs:attribute type="xs:short" name="angle" use="optional"/>
    <xs:attribute type="xs:byte" name="dependsOnU" use="optional"/>
    <xs:attribute type="xs:string" name="interfaceFunctionName" use="optional"/>
    <xs:attribute type="xs:string" name="simulationFunctionName" use="optional"/>
    <xs:attribute type="xs:string" name="simulationFunctionType" use="optional"/>
    <xs:attribute type="xs:string" name="value" use="optional"/>
    <xs:attribute type="xs:short" name="connectedLinkId" use="optional"/>
    <xs:attribute type="xs:byte" name="visible" use="optional"/>
    <xs:attribute type="xs:string" name="blockType" use="optional"/>
    <xs:attribute type="xs:byte" name="dependsOnT" use="optional"/>
    <xs:attribute type="xs:byte" name="vertex" use="optional"/>
    <xs:attribute type="xs:byte" name="edge" use="optional"/>
    <xs:attribute type="xs:string" name="source" use="optional"/>
    <xs:attribute type="xs:float" name="initialState" use="optional"/>
  </xs:complexType>
  <xs:complexType name="CommandPortType" mixed="true">
    <xs:choice maxOccurs="unbounded" minOccurs="0">
      <xs:element type="mxGeometryType" name="mxGeometry"/>
      <xs:element type="ScilabStringType" name="ScilabString"/>
      <xs:element type="ScilabDoubleType" name="ScilabDouble"/>
      <xs:element type="ArrayType" name="Array"/>
      <xs:element type="mxCellType" name="mxCell"/>
      <xs:element type="ImplicitOutputPortType" name="ImplicitOutputPort"/>
      <xs:element type="ImplicitInputPortType" name="ImplicitInputPort"/>
      <xs:element type="OrientationType" name="Orientation"/>
      <xs:element type="ExplicitOutputPortType" name="ExplicitOutputPort"/>
      <xs:element type="ExplicitInputPortType" name="ExplicitInputPort"/>
      <xs:element type="CommandPortType" name="CommandPort"/>
      <xs:element type="ControlPortType" name="ControlPort"/>
      <xs:element type="SuperBlockDiagramType" name="SuperBlockDiagram"/>
    </xs:choice>
    <xs:attribute type="xs:string" name="as" use="optional"/>
    <xs:attribute type="xs:byte" name="connectable" use="optional"/>
    <xs:attribute type="xs:string" name="dataType" use="optional"/>
    <xs:attribute type="xs:string" name="id" use="optional"/>
    <xs:attribute type="xs:byte" name="ordering" use="optional"/>
    <xs:attribute type="xs:string" name="parent" use="optional"/>
    <xs:attribute type="xs:string" name="style" use="optional"/>
    <xs:attribute type="xs:short" name="angle" use="optional"/>
    <xs:attribute type="xs:byte" name="dependsOnU" use="optional"/>
    <xs:attribute type="xs:string" name="interfaceFunctionName" use="optional"/>
    <xs:attribute type="xs:string" name="simulationFunctionName" use="optional"/>
    <xs:attribute type="xs:string" name="simulationFunctionType" use="optional"/>
    <xs:attribute type="xs:string" name="value" use="optional"/>
    <xs:attribute type="xs:byte" name="dataLines" use="optional"/>
    <xs:attribute type="xs:short" name="connectedLinkId" use="optional"/>
    <xs:attribute type="xs:byte" name="dataColumns" use="optional"/>
    <xs:attribute type="xs:byte" name="visible" use="optional"/>
    <xs:attribute type="xs:string" name="blockType" use="optional"/>
    <xs:attribute type="xs:byte" name="dependsOnT" use="optional"/>
    <xs:attribute type="xs:byte" name="vertex" use="optional"/>
    <xs:attribute type="xs:byte" name="edge" use="optional"/>
    <xs:attribute type="xs:string" name="source" use="optional"/>
    <xs:attribute type="xs:float" name="initialState" use="optional"/>
  </xs:complexType>
  <xs:complexType name="ControlPortType" mixed="true">
    <xs:choice maxOccurs="unbounded" minOccurs="0">
      <xs:element type="mxGeometryType" name="mxGeometry"/>
      <xs:element type="ScilabStringType" name="ScilabString"/>
      <xs:element type="ScilabDoubleType" name="ScilabDouble"/>
      <xs:element type="ArrayType" name="Array"/>
      <xs:element type="mxCellType" name="mxCell"/>
      <xs:element type="ImplicitOutputPortType" name="ImplicitOutputPort"/>
      <xs:element type="ImplicitInputPortType" name="ImplicitInputPort"/>
      <xs:element type="OrientationType" name="Orientation"/>
      <xs:element type="ExplicitOutputPortType" name="ExplicitOutputPort"/>
      <xs:element type="ExplicitInputPortType" name="ExplicitInputPort"/>
      <xs:element type="CommandPortType" name="CommandPort"/>
      <xs:element type="ControlPortType" name="ControlPort"/>
      <xs:element type="SuperBlockDiagramType" name="SuperBlockDiagram"/>
    </xs:choice>
    <xs:attribute type="xs:string" name="as" use="optional"/>
    <xs:attribute type="xs:byte" name="connectable" use="optional"/>
    <xs:attribute type="xs:string" name="dataType" use="optional"/>
    <xs:attribute type="xs:string" name="id" use="optional"/>
    <xs:attribute type="xs:byte" name="ordering" use="optional"/>
    <xs:attribute type="xs:string" name="parent" use="optional"/>
    <xs:attribute type="xs:string" name="style" use="optional"/>
    <xs:attribute type="xs:short" name="angle" use="optional"/>
    <xs:attribute type="xs:byte" name="dependsOnU" use="optional"/>
    <xs:attribute type="xs:string" name="interfaceFunctionName" use="optional"/>
    <xs:attribute type="xs:string" name="simulationFunctionName" use="optional"/>
    <xs:attribute type="xs:string" name="simulationFunctionType" use="optional"/>
    <xs:attribute type="xs:string" name="value" use="optional"/>
    <xs:attribute type="xs:byte" name="dataLines" use="optional"/>
    <xs:attribute type="xs:short" name="connectedLinkId" use="optional"/>
    <xs:attribute type="xs:byte" name="dataColumns" use="optional"/>
    <xs:attribute type="xs:byte" name="visible" use="optional"/>
    <xs:attribute type="xs:string" name="blockType" use="optional"/>
    <xs:attribute type="xs:byte" name="dependsOnT" use="optional"/>
    <xs:attribute type="xs:byte" name="vertex" use="optional"/>
    <xs:attribute type="xs:byte" name="edge" use="optional"/>
    <xs:attribute type="xs:string" name="source" use="optional"/>
    <xs:attribute type="xs:float" name="initialState" use="optional"/>
  </xs:complexType>
  <xs:complexType name="CommandControlLinkType" mixed="true">
    <xs:choice maxOccurs="unbounded" minOccurs="0">
      <xs:element type="mxGeometryType" name="mxGeometry"/>
      <xs:element type="mxCellType" name="mxCell"/>
      <xs:element type="CommandPortType" name="CommandPort"/>
      <xs:element type="ControlPortType" name="ControlPort"/>
      <xs:element type="ImplicitOutputPortType" name="ImplicitOutputPort"/>
      <xs:element type="ImplicitInputPortType" name="ImplicitInputPort"/>
      <xs:element type="ScilabStringType" name="ScilabString"/>
      <xs:element type="ScilabDoubleType" name="ScilabDouble"/>
      <xs:element type="ArrayType" name="Array"/>
      <xs:element type="OrientationType" name="Orientation"/>
      <xs:element type="ExplicitOutputPortType" name="ExplicitOutputPort"/>
      <xs:element type="ExplicitInputPortType" name="ExplicitInputPort"/>
      <xs:element type="SuperBlockDiagramType" name="SuperBlockDiagram"/>
    </xs:choice>
    <xs:attribute type="xs:string" name="id" use="optional"/>
    <xs:attribute type="xs:string" name="style" use="optional"/>
    <xs:attribute type="xs:byte" name="ordering" use="optional"/>
    <xs:attribute type="xs:string" name="parent" use="optional"/>
    <xs:attribute type="xs:string" name="simulationFunctionType" use="optional"/>
    <xs:attribute type="xs:byte" name="connectable" use="optional"/>
    <xs:attribute type="xs:byte" name="dataLines" use="optional"/>
    <xs:attribute type="xs:string" name="dataType" use="optional"/>
    <xs:attribute type="xs:short" name="connectedLinkId" use="optional"/>
    <xs:attribute type="xs:byte" name="dataColumns" use="optional"/>
    <xs:attribute type="xs:byte" name="visible" use="optional"/>
    <xs:attribute type="xs:string" name="as" use="optional"/>
    <xs:attribute type="xs:short" name="angle" use="optional"/>
    <xs:attribute type="xs:byte" name="dependsOnU" use="optional"/>
    <xs:attribute type="xs:string" name="interfaceFunctionName" use="optional"/>
    <xs:attribute type="xs:string" name="simulationFunctionName" use="optional"/>
    <xs:attribute type="xs:string" name="value" use="optional"/>
    <xs:attribute type="xs:string" name="blockType" use="optional"/>
    <xs:attribute type="xs:byte" name="dependsOnT" use="optional"/>
    <xs:attribute type="xs:byte" name="vertex" use="optional"/>
    <xs:attribute type="xs:byte" name="edge" use="optional"/>
    <xs:attribute type="xs:string" name="source" use="optional"/>
    <xs:attribute type="xs:float" name="initialState" use="optional"/>
  </xs:complexType>
  <xs:complexType name="ExplicitLinkType" mixed="true">
    <xs:choice maxOccurs="unbounded" minOccurs="0">
      <xs:element type="mxGeometryType" name="mxGeometry" minOccurs="0"/>
      <xs:element type="mxCellType" name="mxCell" minOccurs="0"/>
      <xs:element type="ExplicitOutputPortType" name="ExplicitOutputPort"/>
      <xs:element type="ExplicitInputPortType" name="ExplicitInputPort"/>
      <xs:element type="ScilabStringType" name="ScilabString"/>
      <xs:element type="ScilabDoubleType" name="ScilabDouble"/>
      <xs:element type="ArrayType" name="Array"/>
      <xs:element type="ImplicitOutputPortType" name="ImplicitOutputPort"/>
      <xs:element type="ImplicitInputPortType" name="ImplicitInputPort"/>
      <xs:element type="OrientationType" name="Orientation"/>
      <xs:element type="CommandPortType" name="CommandPort"/>
      <xs:element type="ControlPortType" name="ControlPort"/>
      <xs:element type="SuperBlockDiagramType" name="SuperBlockDiagram"/>
    </xs:choice>
    <xs:attribute type="xs:string" name="id" use="optional"/>
    <xs:attribute type="xs:string" name="style" use="optional"/>
    <xs:attribute type="xs:short" name="angle" use="optional"/>
    <xs:attribute type="xs:byte" name="dependsOnU" use="optional"/>
    <xs:attribute type="xs:string" name="interfaceFunctionName" use="optional"/>
    <xs:attribute type="xs:byte" name="ordering" use="optional"/>
    <xs:attribute type="xs:string" name="parent" use="optional"/>
    <xs:attribute type="xs:string" name="simulationFunctionName" use="optional"/>
    <xs:attribute type="xs:string" name="simulationFunctionType" use="optional"/>
    <xs:attribute type="xs:string" name="value" use="optional"/>
    <xs:attribute type="xs:byte" name="connectable" use="optional"/>
    <xs:attribute type="xs:byte" name="dataLines" use="optional"/>
    <xs:attribute type="xs:string" name="dataType" use="optional"/>
    <xs:attribute type="xs:short" name="connectedLinkId" use="optional"/>
    <xs:attribute type="xs:byte" name="dataColumns" use="optional"/>
    <xs:attribute type="xs:byte" name="visible" use="optional"/>
    <xs:attribute type="xs:string" name="as" use="optional"/>
    <xs:attribute type="xs:string" name="blockType" use="optional"/>
    <xs:attribute type="xs:byte" name="dependsOnT" use="optional"/>
    <xs:attribute type="xs:byte" name="vertex" use="optional"/>
    <xs:attribute type="xs:byte" name="edge" use="optional"/>
    <xs:attribute type="xs:string" name="source" use="optional"/>
    <xs:attribute type="xs:float" name="initialState" use="optional"/>
  </xs:complexType>
  <xs:complexType name="TextBlockType" mixed="true">
    <xs:choice maxOccurs="unbounded" minOccurs="0">
      <xs:element type="ScilabStringType" name="ScilabString"/>
      <xs:element type="ScilabDoubleType" name="ScilabDouble"/>
      <xs:element type="ArrayType" name="Array"/>
      <xs:element type="mxGeometryType" name="mxGeometry"/>
      <xs:element type="mxCellType" name="mxCell"/>
      <xs:element type="ImplicitOutputPortType" name="ImplicitOutputPort"/>
      <xs:element type="ImplicitInputPortType" name="ImplicitInputPort"/>
      <xs:element type="CommandPortType" name="CommandPort"/>
      <xs:element type="ControlPortType" name="ControlPort"/>
      <xs:element type="OrientationType" name="Orientation"/>
      <xs:element type="ExplicitOutputPortType" name="ExplicitOutputPort"/>
      <xs:element type="ExplicitInputPortType" name="ExplicitInputPort"/>
      <xs:element type="SuperBlockDiagramType" name="SuperBlockDiagram"/>
    </xs:choice>
    <xs:attribute type="xs:string" name="id" use="optional"/>
    <xs:attribute type="xs:byte" name="ordering" use="optional"/>
    <xs:attribute type="xs:string" name="parent" use="optional"/>
    <xs:attribute type="xs:string" name="simulationFunctionName" use="optional"/>
    <xs:attribute type="xs:string" name="simulationFunctionType" use="optional"/>
    <xs:attribute type="xs:string" name="style" use="optional"/>
    <xs:attribute type="xs:string" name="value" use="optional"/>
    <xs:attribute type="xs:short" name="angle" use="optional"/>
    <xs:attribute type="xs:byte" name="dependsOnU" use="optional"/>
    <xs:attribute type="xs:string" name="interfaceFunctionName" use="optional"/>
    <xs:attribute type="xs:byte" name="connectable" use="optional"/>
    <xs:attribute type="xs:byte" name="dataLines" use="optional"/>
    <xs:attribute type="xs:string" name="dataType" use="optional"/>
    <xs:attribute type="xs:short" name="connectedLinkId" use="optional"/>
    <xs:attribute type="xs:byte" name="dataColumns" use="optional"/>
    <xs:attribute type="xs:byte" name="visible" use="optional"/>
    <xs:attribute type="xs:string" name="as" use="optional"/>
    <xs:attribute type="xs:string" name="blockType" use="optional"/>
    <xs:attribute type="xs:byte" name="vertex" use="optional"/>
    <xs:attribute type="xs:byte" name="dependsOnT" use="optional"/>
    <xs:attribute type="xs:byte" name="edge" use="optional"/>
    <xs:attribute type="xs:string" name="source" use="optional"/>
    <xs:attribute type="xs:float" name="initialState" use="optional"/>
  </xs:complexType>
  <xs:complexType name="GroundBlockType" mixed="true">
    <xs:choice maxOccurs="unbounded" minOccurs="0">
      <xs:element type="ScilabStringType" name="ScilabString"/>
      <xs:element type="ScilabDoubleType" name="ScilabDouble"/>
      <xs:element type="ArrayType" name="Array"/>
      <xs:element type="mxGeometryType" name="mxGeometry"/>
      <xs:element type="mxCellType" name="mxCell"/>
      <xs:element type="ImplicitOutputPortType" name="ImplicitOutputPort"/>
      <xs:element type="ImplicitInputPortType" name="ImplicitInputPort"/>
      <xs:element type="OrientationType" name="Orientation"/>
      <xs:element type="ExplicitOutputPortType" name="ExplicitOutputPort"/>
      <xs:element type="ExplicitInputPortType" name="ExplicitInputPort"/>
      <xs:element type="CommandPortType" name="CommandPort"/>
      <xs:element type="ControlPortType" name="ControlPort"/>
      <xs:element type="SuperBlockDiagramType" name="SuperBlockDiagram"/>
    </xs:choice>
    <xs:attribute type="xs:byte" name="dependsOnU" use="optional"/>
    <xs:attribute type="xs:string" name="id" use="optional"/>
    <xs:attribute type="xs:string" name="interfaceFunctionName" use="optional"/>
    <xs:attribute type="xs:string" name="parent" use="optional"/>
    <xs:attribute type="xs:string" name="simulationFunctionName" use="optional"/>
    <xs:attribute type="xs:string" name="simulationFunctionType" use="optional"/>
    <xs:attribute type="xs:string" name="style" use="optional"/>
    <xs:attribute type="xs:byte" name="connectable" use="optional"/>
    <xs:attribute type="xs:byte" name="dataLines" use="optional"/>
    <xs:attribute type="xs:string" name="dataType" use="optional"/>
    <xs:attribute type="xs:byte" name="ordering" use="optional"/>
    <xs:attribute type="xs:short" name="connectedLinkId" use="optional"/>
    <xs:attribute type="xs:byte" name="dataColumns" use="optional"/>
    <xs:attribute type="xs:byte" name="visible" use="optional"/>
    <xs:attribute type="xs:string" name="as" use="optional"/>
    <xs:attribute type="xs:short" name="angle" use="optional"/>
    <xs:attribute type="xs:string" name="value" use="optional"/>
    <xs:attribute type="xs:string" name="blockType" use="optional"/>
    <xs:attribute type="xs:byte" name="dependsOnT" use="optional"/>
    <xs:attribute type="xs:byte" name="vertex" use="optional"/>
    <xs:attribute type="xs:byte" name="edge" use="optional"/>
    <xs:attribute type="xs:string" name="source" use="optional"/>
    <xs:attribute type="xs:float" name="initialState" use="optional"/>
  </xs:complexType>
  <xs:complexType name="OrientationType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="as" use="optional"/>
        <xs:attribute type="xs:string" name="value" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="XcosDiagramType">
    <xs:sequence>
      <xs:element type="ArrayType" name="Array" minOccurs="0"/>
      <xs:element type="mxUndoManagerType" name="mxUndoManager" minOccurs="0"/>
      <xs:element type="mxGraphModelType" name="mxGraphModel"/>
      <xs:element type="mxCellType" name="mxCell"/>
    </xs:sequence>
    <xs:attribute type="xs:byte" name="background" use="optional"/>
    <xs:attribute type="xs:float" name="finalIntegrationTime" use="optional"/>
    <xs:attribute type="xs:float" name="solver" use="optional"/>
    <xs:attribute type="xs:string" name="title" use="optional"/>
    <xs:attribute type="xs:float" name="integratorAbsoluteTolerance" use="optional"/>
    <xs:attribute type="xs:float" name="integratorRelativeTolerance" use="optional"/>
    <xs:attribute type="xs:byte" name="opened" use="optional"/>
    <xs:attribute type="xs:float" name="realTimeScaling" use="optional"/>
    <xs:attribute type="xs:float" name="maxIntegrationTimeinterval" use="optional"/>
    <xs:attribute type="xs:string" name="savedFile" use="optional"/>
    <xs:attribute type="xs:float" name="toleranceOnTime" use="optional"/>
    <xs:attribute type="xs:byte" name="modified" use="optional"/>
    <xs:attribute type="xs:byte" name="debugLevel" use="optional"/>
    <xs:attribute type="xs:byte" name="gridEnabled" use="optional"/>
    <xs:attribute type="xs:float" name="maxIntegrationTimeInterval" use="optional"/>
    <xs:attribute type="xs:float" name="maximumStepSize" use="optional"/>
  </xs:complexType>
  <xs:complexType name="mxUndoManagerType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="as" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="GainBlockType" mixed="true">
    <xs:choice maxOccurs="unbounded" minOccurs="0">
      <xs:element type="ScilabStringType" name="ScilabString"/>
      <xs:element type="ScilabDoubleType" name="ScilabDouble"/>
      <xs:element type="ArrayType" name="Array"/>
      <xs:element type="mxGeometryType" name="mxGeometry"/>
      <xs:element type="mxCellType" name="mxCell"/>
      <xs:element type="ImplicitOutputPortType" name="ImplicitOutputPort"/>
      <xs:element type="ImplicitInputPortType" name="ImplicitInputPort"/>
      <xs:element type="OrientationType" name="Orientation"/>
      <xs:element type="ExplicitOutputPortType" name="ExplicitOutputPort"/>
      <xs:element type="ExplicitInputPortType" name="ExplicitInputPort"/>
      <xs:element type="CommandPortType" name="CommandPort"/>
      <xs:element type="ControlPortType" name="ControlPort"/>
      <xs:element type="SuperBlockDiagramType" name="SuperBlockDiagram"/>
    </xs:choice>
    <xs:attribute type="xs:byte" name="connectable" use="optional"/>
    <xs:attribute type="xs:byte" name="dependsOnU" use="optional"/>
    <xs:attribute type="xs:string" name="id" use="optional"/>
    <xs:attribute type="xs:string" name="interfaceFunctionName" use="optional"/>
    <xs:attribute type="xs:string" name="simulationFunctionName" use="optional"/>
    <xs:attribute type="xs:string" name="style" use="optional"/>
    <xs:attribute type="xs:string" name="value" use="optional"/>
    <xs:attribute type="xs:byte" name="vertex" use="optional"/>
    <xs:attribute type="xs:byte" name="visible" use="optional"/>
    <xs:attribute type="xs:byte" name="ordering" use="optional"/>
    <xs:attribute type="xs:string" name="dataType" use="optional"/>
    <xs:attribute type="xs:string" name="parent" use="optional"/>
    <xs:attribute type="xs:byte" name="dataLines" use="optional"/>
    <xs:attribute type="xs:string" name="as" use="optional"/>
    <xs:attribute type="xs:byte" name="dataColumns" use="optional"/>
    <xs:attribute type="xs:short" name="angle" use="optional"/>
    <xs:attribute type="xs:string" name="simulationFunctionType" use="optional"/>
    <xs:attribute type="xs:short" name="connectedLinkId" use="optional"/>
    <xs:attribute type="xs:string" name="blockType" use="optional"/>
    <xs:attribute type="xs:byte" name="dependsOnT" use="optional"/>
    <xs:attribute type="xs:byte" name="edge" use="optional"/>
    <xs:attribute type="xs:string" name="source" use="optional"/>
    <xs:attribute type="xs:float" name="initialState" use="optional"/>
  </xs:complexType>
  <xs:complexType name="ExplicitOutBlockType" mixed="true">
    <xs:choice maxOccurs="unbounded" minOccurs="0">
      <xs:element type="ScilabStringType" name="ScilabString"/>
      <xs:element type="ScilabDoubleType" name="ScilabDouble"/>
      <xs:element type="ArrayType" name="Array"/>
      <xs:element type="mxGeometryType" name="mxGeometry"/>
      <xs:element type="mxCellType" name="mxCell"/>
      <xs:element type="ImplicitOutputPortType" name="ImplicitOutputPort"/>
      <xs:element type="ImplicitInputPortType" name="ImplicitInputPort"/>
      <xs:element type="OrientationType" name="Orientation"/>
      <xs:element type="ExplicitOutputPortType" name="ExplicitOutputPort"/>
      <xs:element type="ExplicitInputPortType" name="ExplicitInputPort"/>
      <xs:element type="CommandPortType" name="CommandPort"/>
      <xs:element type="ControlPortType" name="ControlPort"/>
      <xs:element type="SuperBlockDiagramType" name="SuperBlockDiagram"/>
    </xs:choice>
    <xs:attribute type="xs:byte" name="connectable" use="optional"/>
    <xs:attribute type="xs:string" name="id" use="optional"/>
    <xs:attribute type="xs:string" name="interfaceFunctionName" use="optional"/>
    <xs:attribute type="xs:byte" name="ordering" use="optional"/>
    <xs:attribute type="xs:string" name="simulationFunctionName" use="optional"/>
    <xs:attribute type="xs:string" name="style" use="optional"/>
    <xs:attribute type="xs:string" name="value" use="optional"/>
    <xs:attribute type="xs:byte" name="vertex" use="optional"/>
    <xs:attribute type="xs:byte" name="visible" use="optional"/>
    <xs:attribute type="xs:string" name="dataType" use="optional"/>
    <xs:attribute type="xs:string" name="parent" use="optional"/>
    <xs:attribute type="xs:byte" name="dataLines" use="optional"/>
    <xs:attribute type="xs:string" name="as" use="optional"/>
    <xs:attribute type="xs:byte" name="dataColumns" use="optional"/>
    <xs:attribute type="xs:short" name="angle" use="optional"/>
    <xs:attribute type="xs:byte" name="dependsOnU" use="optional"/>
    <xs:attribute type="xs:string" name="simulationFunctionType" use="optional"/>
    <xs:attribute type="xs:short" name="connectedLinkId" use="optional"/>
    <xs:attribute type="xs:string" name="blockType" use="optional"/>
    <xs:attribute type="xs:byte" name="dependsOnT" use="optional"/>
    <xs:attribute type="xs:byte" name="edge" use="optional"/>
    <xs:attribute type="xs:string" name="source" use="optional"/>
    <xs:attribute type="xs:float" name="initialState" use="optional"/>
  </xs:complexType>
  <xs:complexType name="ConstBlockType" mixed="true">
    <xs:choice maxOccurs="unbounded" minOccurs="0">
      <xs:element type="ScilabStringType" name="ScilabString"/>
      <xs:element type="ScilabDoubleType" name="ScilabDouble"/>
      <xs:element type="ArrayType" name="Array"/>
      <xs:element type="mxGeometryType" name="mxGeometry"/>
      <xs:element type="mxCellType" name="mxCell"/>
      <xs:element type="ImplicitOutputPortType" name="ImplicitOutputPort"/>
      <xs:element type="ImplicitInputPortType" name="ImplicitInputPort"/>
      <xs:element type="OrientationType" name="Orientation"/>
      <xs:element type="ExplicitOutputPortType" name="ExplicitOutputPort"/>
      <xs:element type="ExplicitInputPortType" name="ExplicitInputPort"/>
      <xs:element type="CommandPortType" name="CommandPort"/>
      <xs:element type="ControlPortType" name="ControlPort"/>
      <xs:element type="SuperBlockDiagramType" name="SuperBlockDiagram"/>
    </xs:choice>
    <xs:attribute type="xs:string" name="blockType" use="optional"/>
    <xs:attribute type="xs:byte" name="connectable" use="optional"/>
    <xs:attribute type="xs:string" name="id" use="optional"/>
    <xs:attribute type="xs:string" name="interfaceFunctionName" use="optional"/>
    <xs:attribute type="xs:byte" name="ordering" use="optional"/>
    <xs:attribute type="xs:string" name="parent" use="optional"/>
    <xs:attribute type="xs:string" name="simulationFunctionName" use="optional"/>
    <xs:attribute type="xs:string" name="simulationFunctionType" use="optional"/>
    <xs:attribute type="xs:string" name="style" use="optional"/>
    <xs:attribute type="xs:string" name="value" use="optional"/>
    <xs:attribute type="xs:byte" name="vertex" use="optional"/>
    <xs:attribute type="xs:byte" name="visible" use="optional"/>
    <xs:attribute type="xs:string" name="dataType" use="optional"/>
    <xs:attribute type="xs:string" name="as" use="optional"/>
    <xs:attribute type="xs:byte" name="dataColumns" use="optional"/>
    <xs:attribute type="xs:byte" name="dataLines" use="optional"/>
    <xs:attribute type="xs:short" name="angle" use="optional"/>
    <xs:attribute type="xs:byte" name="dependsOnU" use="optional"/>
    <xs:attribute type="xs:short" name="connectedLinkId" use="optional"/>
    <xs:attribute type="xs:byte" name="dependsOnT" use="optional"/>
    <xs:attribute type="xs:byte" name="edge" use="optional"/>
    <xs:attribute type="xs:string" name="source" use="optional"/>
    <xs:attribute type="xs:float" name="initialState" use="optional"/>
  </xs:complexType>
  <xs:complexType name="VoltageSensorBlockType" mixed="true">
    <xs:choice maxOccurs="unbounded" minOccurs="0">
      <xs:element type="ScilabDoubleType" name="ScilabDouble"/>
      <xs:element type="ArrayType" name="Array"/>
      <xs:element type="mxGeometryType" name="mxGeometry"/>
      <xs:element type="ScilabStringType" name="ScilabString"/>
      <xs:element type="mxCellType" name="mxCell"/>
      <xs:element type="ImplicitOutputPortType" name="ImplicitOutputPort"/>
      <xs:element type="ImplicitInputPortType" name="ImplicitInputPort"/>
      <xs:element type="OrientationType" name="Orientation"/>
      <xs:element type="ExplicitOutputPortType" name="ExplicitOutputPort"/>
      <xs:element type="ExplicitInputPortType" name="ExplicitInputPort"/>
      <xs:element type="CommandPortType" name="CommandPort"/>
      <xs:element type="ControlPortType" name="ControlPort"/>
      <xs:element type="SuperBlockDiagramType" name="SuperBlockDiagram"/>
    </xs:choice>
    <xs:attribute type="xs:byte" name="dependsOnU" use="optional"/>
    <xs:attribute type="xs:string" name="id" use="optional"/>
    <xs:attribute type="xs:string" name="interfaceFunctionName" use="optional"/>
    <xs:attribute type="xs:byte" name="ordering" use="optional"/>
    <xs:attribute type="xs:string" name="parent" use="optional"/>
    <xs:attribute type="xs:string" name="simulationFunctionName" use="optional"/>
    <xs:attribute type="xs:string" name="simulationFunctionType" use="optional"/>
    <xs:attribute type="xs:string" name="style" use="optional"/>
    <xs:attribute type="xs:byte" name="connectable" use="optional"/>
    <xs:attribute type="xs:byte" name="dataLines" use="optional"/>
    <xs:attribute type="xs:string" name="dataType" use="optional"/>
    <xs:attribute type="xs:short" name="connectedLinkId" use="optional"/>
    <xs:attribute type="xs:byte" name="dataColumns" use="optional"/>
    <xs:attribute type="xs:byte" name="visible" use="optional"/>
    <xs:attribute type="xs:string" name="as" use="optional"/>
    <xs:attribute type="xs:short" name="angle" use="optional"/>
    <xs:attribute type="xs:string" name="value" use="optional"/>
    <xs:attribute type="xs:string" name="blockType" use="optional"/>
    <xs:attribute type="xs:byte" name="dependsOnT" use="optional"/>
    <xs:attribute type="xs:byte" name="vertex" use="optional"/>
    <xs:attribute type="xs:byte" name="edge" use="optional"/>
    <xs:attribute type="xs:string" name="source" use="optional"/>
    <xs:attribute type="xs:float" name="initialState" use="optional"/>
  </xs:complexType>
  <xs:complexType name="AfficheBlockType" mixed="true">
    <xs:choice maxOccurs="unbounded" minOccurs="0">
      <xs:element type="ScilabStringType" name="ScilabString"/>
      <xs:element type="ScilabDoubleType" name="ScilabDouble"/>
      <xs:element type="ArrayType" name="Array"/>
      <xs:element type="mxGeometryType" name="mxGeometry"/>
      <xs:element type="mxCellType" name="mxCell"/>
      <xs:element type="ImplicitOutputPortType" name="ImplicitOutputPort"/>
      <xs:element type="ImplicitInputPortType" name="ImplicitInputPort"/>
      <xs:element type="OrientationType" name="Orientation"/>
      <xs:element type="ExplicitOutputPortType" name="ExplicitOutputPort"/>
      <xs:element type="ExplicitInputPortType" name="ExplicitInputPort"/>
      <xs:element type="CommandPortType" name="CommandPort"/>
      <xs:element type="ControlPortType" name="ControlPort"/>
      <xs:element type="SuperBlockDiagramType" name="SuperBlockDiagram"/>
    </xs:choice>
    <xs:attribute type="xs:byte" name="dependsOnU" use="optional"/>
    <xs:attribute type="xs:int" name="hashCode" use="optional"/>
    <xs:attribute type="xs:string" name="id" use="optional"/>
    <xs:attribute type="xs:string" name="interfaceFunctionName" use="optional"/>
    <xs:attribute type="xs:string" name="parent" use="optional"/>
    <xs:attribute type="xs:string" name="simulationFunctionName" use="optional"/>
    <xs:attribute type="xs:string" name="simulationFunctionType" use="optional"/>
    <xs:attribute type="xs:string" name="style" use="optional"/>
    <xs:attribute type="xs:string" name="as" use="optional"/>
    <xs:attribute type="xs:byte" name="connectable" use="optional"/>
    <xs:attribute type="xs:string" name="dataType" use="optional"/>
    <xs:attribute type="xs:byte" name="ordering" use="optional"/>
    <xs:attribute type="xs:short" name="angle" use="optional"/>
    <xs:attribute type="xs:string" name="value" use="optional"/>
    <xs:attribute type="xs:byte" name="dataLines" use="optional"/>
    <xs:attribute type="xs:short" name="connectedLinkId" use="optional"/>
    <xs:attribute type="xs:byte" name="dataColumns" use="optional"/>
    <xs:attribute type="xs:byte" name="visible" use="optional"/>
    <xs:attribute type="xs:string" name="blockType" use="optional"/>
    <xs:attribute type="xs:byte" name="dependsOnT" use="optional"/>
    <xs:attribute type="xs:byte" name="vertex" use="optional"/>
    <xs:attribute type="xs:byte" name="edge" use="optional"/>
    <xs:attribute type="xs:string" name="source" use="optional"/>
  </xs:complexType>
  <xs:complexType name="ExplicitInBlockType" mixed="true">
    <xs:choice maxOccurs="unbounded" minOccurs="0">
      <xs:element type="ScilabStringType" name="ScilabString"/>
      <xs:element type="ScilabDoubleType" name="ScilabDouble"/>
      <xs:element type="ArrayType" name="Array"/>
      <xs:element type="mxGeometryType" name="mxGeometry"/>
      <xs:element type="mxCellType" name="mxCell"/>
      <xs:element type="ImplicitOutputPortType" name="ImplicitOutputPort"/>
      <xs:element type="ImplicitInputPortType" name="ImplicitInputPort"/>
      <xs:element type="OrientationType" name="Orientation"/>
      <xs:element type="ExplicitOutputPortType" name="ExplicitOutputPort"/>
      <xs:element type="ExplicitInputPortType" name="ExplicitInputPort"/>
      <xs:element type="CommandPortType" name="CommandPort"/>
      <xs:element type="ControlPortType" name="ControlPort"/>
      <xs:element type="SuperBlockDiagramType" name="SuperBlockDiagram"/>
    </xs:choice>
    <xs:attribute type="xs:string" name="id" use="optional"/>
    <xs:attribute type="xs:byte" name="ordering" use="optional"/>
    <xs:attribute type="xs:string" name="parent" use="optional"/>
    <xs:attribute type="xs:string" name="simulationFunctionType" use="optional"/>
    <xs:attribute type="xs:string" name="value" use="optional"/>
    <xs:attribute type="xs:byte" name="connectable" use="optional"/>
    <xs:attribute type="xs:string" name="dataType" use="optional"/>
    <xs:attribute type="xs:string" name="style" use="optional"/>
    <xs:attribute type="xs:string" name="as" use="optional"/>
    <xs:attribute type="xs:byte" name="dataColumns" use="optional"/>
    <xs:attribute type="xs:byte" name="dataLines" use="optional"/>
    <xs:attribute type="xs:short" name="angle" use="optional"/>
    <xs:attribute type="xs:byte" name="dependsOnU" use="optional"/>
    <xs:attribute type="xs:string" name="interfaceFunctionName" use="optional"/>
    <xs:attribute type="xs:string" name="simulationFunctionName" use="optional"/>
    <xs:attribute type="xs:short" name="connectedLinkId" use="optional"/>
    <xs:attribute type="xs:byte" name="visible" use="optional"/>
    <xs:attribute type="xs:string" name="blockType" use="optional"/>
    <xs:attribute type="xs:byte" name="dependsOnT" use="optional"/>
    <xs:attribute type="xs:byte" name="vertex" use="optional"/>
    <xs:attribute type="xs:byte" name="edge" use="optional"/>
    <xs:attribute type="xs:string" name="source" use="optional"/>
    <xs:attribute type="xs:float" name="initialState" use="optional"/>
  </xs:complexType>
  <xs:complexType name="BigSomType" mixed="true">
    <xs:choice maxOccurs="unbounded" minOccurs="0">
      <xs:element type="ScilabStringType" name="ScilabString"/>
      <xs:element type="ScilabDoubleType" name="ScilabDouble"/>
      <xs:element type="ArrayType" name="Array"/>
      <xs:element type="mxGeometryType" name="mxGeometry"/>
      <xs:element type="mxCellType" name="mxCell"/>
      <xs:element type="ImplicitOutputPortType" name="ImplicitOutputPort"/>
      <xs:element type="ImplicitInputPortType" name="ImplicitInputPort"/>
      <xs:element type="OrientationType" name="Orientation"/>
      <xs:element type="ExplicitOutputPortType" name="ExplicitOutputPort"/>
      <xs:element type="ExplicitInputPortType" name="ExplicitInputPort"/>
      <xs:element type="CommandPortType" name="CommandPort"/>
      <xs:element type="ControlPortType" name="ControlPort"/>
      <xs:element type="SuperBlockDiagramType" name="SuperBlockDiagram"/>
    </xs:choice>
    <xs:attribute type="xs:byte" name="dependsOnU" use="optional"/>
    <xs:attribute type="xs:string" name="id" use="optional"/>
    <xs:attribute type="xs:string" name="interfaceFunctionName" use="optional"/>
    <xs:attribute type="xs:byte" name="ordering" use="optional"/>
    <xs:attribute type="xs:string" name="parent" use="optional"/>
    <xs:attribute type="xs:string" name="simulationFunctionName" use="optional"/>
    <xs:attribute type="xs:string" name="simulationFunctionType" use="optional"/>
    <xs:attribute type="xs:string" name="style" use="optional"/>
    <xs:attribute type="xs:string" name="value" use="optional"/>
    <xs:attribute type="xs:byte" name="connectable" use="optional"/>
    <xs:attribute type="xs:string" name="dataType" use="optional"/>
    <xs:attribute type="xs:byte" name="dataLines" use="optional"/>
    <xs:attribute type="xs:string" name="as" use="optional"/>
    <xs:attribute type="xs:byte" name="dataColumns" use="optional"/>
    <xs:attribute type="xs:byte" name="visible" use="optional"/>
    <xs:attribute type="xs:short" name="angle" use="optional"/>
    <xs:attribute type="xs:short" name="connectedLinkId" use="optional"/>
    <xs:attribute type="xs:string" name="blockType" use="optional"/>
    <xs:attribute type="xs:byte" name="dependsOnT" use="optional"/>
    <xs:attribute type="xs:byte" name="vertex" use="optional"/>
    <xs:attribute type="xs:byte" name="edge" use="optional"/>
    <xs:attribute type="xs:string" name="source" use="optional"/>
    <xs:attribute type="xs:float" name="initialState" use="optional"/>
  </xs:complexType>
  <xs:complexType name="ScilabIntegerType">
    <xs:sequence>
      <xs:element type="dataType" name="data" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute type="xs:byte" name="height" use="optional"/>
    <xs:attribute type="xs:byte" name="width" use="optional"/>
  </xs:complexType>
  <xs:complexType name="ProductType">
    <xs:choice maxOccurs="unbounded" minOccurs="0">
      <xs:element type="ScilabStringType" name="ScilabString"/>
      <xs:element type="ScilabDoubleType" name="ScilabDouble"/>
      <xs:element type="ArrayType" name="Array"/>
      <xs:element type="mxGeometryType" name="mxGeometry"/>
      <xs:element type="mxCellType" name="mxCell"/>
      <xs:element type="ImplicitOutputPortType" name="ImplicitOutputPort"/>
      <xs:element type="ImplicitInputPortType" name="ImplicitInputPort"/>
      <xs:element type="OrientationType" name="Orientation"/>
      <xs:element type="ExplicitOutputPortType" name="ExplicitOutputPort"/>
      <xs:element type="ExplicitInputPortType" name="ExplicitInputPort"/>
      <xs:element type="CommandPortType" name="CommandPort"/>
      <xs:element type="ControlPortType" name="ControlPort"/>
      <xs:element type="SuperBlockDiagramType" name="SuperBlockDiagram"/>
    </xs:choice>
    <xs:attribute type="xs:byte" name="dependsOnU" use="optional"/>
    <xs:attribute type="xs:string" name="id" use="optional"/>
    <xs:attribute type="xs:string" name="interfaceFunctionName" use="optional"/>
    <xs:attribute type="xs:byte" name="ordering" use="optional"/>
    <xs:attribute type="xs:string" name="parent" use="optional"/>
    <xs:attribute type="xs:string" name="simulationFunctionName" use="optional"/>
    <xs:attribute type="xs:string" name="simulationFunctionType" use="optional"/>
    <xs:attribute type="xs:string" name="style" use="optional"/>
    <xs:attribute type="xs:string" name="value" use="optional"/>
    <xs:attribute type="xs:byte" name="connectable" use="optional"/>
    <xs:attribute type="xs:string" name="dataType" use="optional"/>
    <xs:attribute type="xs:byte" name="dataLines" use="optional"/>
    <xs:attribute type="xs:string" name="as" use="optional"/>
    <xs:attribute type="xs:byte" name="dataColumns" use="optional"/>
    <xs:attribute type="xs:byte" name="visible" use="optional"/>
    <xs:attribute type="xs:short" name="angle" use="optional"/>
    <xs:attribute type="xs:short" name="connectedLinkId" use="optional"/>
    <xs:attribute type="xs:string" name="blockType" use="optional"/>
    <xs:attribute type="xs:byte" name="dependsOnT" use="optional"/>
    <xs:attribute type="xs:byte" name="vertex" use="optional"/>
  </xs:complexType>
  <xs:complexType name="RoundBlockType" mixed="true">
    <xs:choice maxOccurs="unbounded" minOccurs="0">
      <xs:element type="ScilabDoubleType" name="ScilabDouble"/>
      <xs:element type="ArrayType" name="Array"/>
      <xs:element type="mxGeometryType" name="mxGeometry"/>
      <xs:element type="ScilabStringType" name="ScilabString"/>
      <xs:element type="mxCellType" name="mxCell"/>
      <xs:element type="ImplicitOutputPortType" name="ImplicitOutputPort"/>
      <xs:element type="ImplicitInputPortType" name="ImplicitInputPort"/>
      <xs:element type="OrientationType" name="Orientation"/>
      <xs:element type="ExplicitOutputPortType" name="ExplicitOutputPort"/>
      <xs:element type="ExplicitInputPortType" name="ExplicitInputPort"/>
      <xs:element type="CommandPortType" name="CommandPort"/>
      <xs:element type="ControlPortType" name="ControlPort"/>
      <xs:element type="SuperBlockDiagramType" name="SuperBlockDiagram"/>
    </xs:choice>
    <xs:attribute type="xs:byte" name="dependsOnU" use="optional"/>
    <xs:attribute type="xs:string" name="id" use="optional"/>
    <xs:attribute type="xs:string" name="interfaceFunctionName" use="optional"/>
    <xs:attribute type="xs:byte" name="ordering" use="optional"/>
    <xs:attribute type="xs:string" name="parent" use="optional"/>
    <xs:attribute type="xs:string" name="simulationFunctionName" use="optional"/>
    <xs:attribute type="xs:string" name="simulationFunctionType" use="optional"/>
    <xs:attribute type="xs:string" name="style" use="optional"/>
    <xs:attribute type="xs:string" name="value" use="optional"/>
    <xs:attribute type="xs:byte" name="connectable" use="optional"/>
    <xs:attribute type="xs:string" name="dataType" use="optional"/>
    <xs:attribute type="xs:byte" name="dataLines" use="optional"/>
    <xs:attribute type="xs:string" name="as" use="optional"/>
    <xs:attribute type="xs:byte" name="dataColumns" use="optional"/>
    <xs:attribute type="xs:byte" name="visible" use="optional"/>
    <xs:attribute type="xs:short" name="angle" use="optional"/>
    <xs:attribute type="xs:short" name="connectedLinkId" use="optional"/>
    <xs:attribute type="xs:string" name="blockType" use="optional"/>
    <xs:attribute type="xs:byte" name="dependsOnT" use="optional"/>
    <xs:attribute type="xs:byte" name="vertex" use="optional"/>
    <xs:attribute type="xs:byte" name="edge" use="optional"/>
    <xs:attribute type="xs:string" name="source" use="optional"/>
    <xs:attribute type="xs:float" name="initialState" use="optional"/>
  </xs:complexType>
  <xs:complexType name="SummationType" mixed="true">
    <xs:choice maxOccurs="unbounded" minOccurs="0">
      <xs:element type="ScilabStringType" name="ScilabString"/>
      <xs:element type="ScilabDoubleType" name="ScilabDouble"/>
      <xs:element type="ArrayType" name="Array"/>
      <xs:element type="mxGeometryType" name="mxGeometry"/>
      <xs:element type="mxCellType" name="mxCell"/>
      <xs:element type="ImplicitOutputPortType" name="ImplicitOutputPort"/>
      <xs:element type="ImplicitInputPortType" name="ImplicitInputPort"/>
      <xs:element type="OrientationType" name="Orientation"/>
      <xs:element type="ExplicitOutputPortType" name="ExplicitOutputPort"/>
      <xs:element type="ExplicitInputPortType" name="ExplicitInputPort"/>
      <xs:element type="CommandPortType" name="CommandPort"/>
      <xs:element type="ControlPortType" name="ControlPort"/>
      <xs:element type="SuperBlockDiagramType" name="SuperBlockDiagram"/>
    </xs:choice>
    <xs:attribute type="xs:byte" name="dependsOnU" use="optional"/>
    <xs:attribute type="xs:string" name="id" use="optional"/>
    <xs:attribute type="xs:string" name="interfaceFunctionName" use="optional"/>
    <xs:attribute type="xs:byte" name="ordering" use="optional"/>
    <xs:attribute type="xs:string" name="parent" use="optional"/>
    <xs:attribute type="xs:string" name="simulationFunctionName" use="optional"/>
    <xs:attribute type="xs:string" name="simulationFunctionType" use="optional"/>
    <xs:attribute type="xs:string" name="style" use="optional"/>
    <xs:attribute type="xs:string" name="value" use="optional"/>
    <xs:attribute type="xs:byte" name="connectable" use="optional"/>
    <xs:attribute type="xs:string" name="dataType" use="optional"/>
    <xs:attribute type="xs:string" name="as" use="optional"/>
    <xs:attribute type="xs:byte" name="dataColumns" use="optional"/>
    <xs:attribute type="xs:byte" name="dataLines" use="optional"/>
    <xs:attribute type="xs:short" name="angle" use="optional"/>
    <xs:attribute type="xs:short" name="connectedLinkId" use="optional"/>
    <xs:attribute type="xs:byte" name="visible" use="optional"/>
    <xs:attribute type="xs:string" name="blockType" use="optional"/>
    <xs:attribute type="xs:byte" name="dependsOnT" use="optional"/>
    <xs:attribute type="xs:byte" name="vertex" use="optional"/>
    <xs:attribute type="xs:byte" name="edge" use="optional"/>
    <xs:attribute type="xs:string" name="source" use="optional"/>
    <xs:attribute type="xs:float" name="initialState" use="optional"/>
  </xs:complexType>
  <xs:complexType name="EventInBlockType" mixed="true">
    <xs:choice maxOccurs="unbounded" minOccurs="0">
      <xs:element type="ScilabStringType" name="ScilabString"/>
      <xs:element type="ScilabDoubleType" name="ScilabDouble"/>
      <xs:element type="ArrayType" name="Array"/>
      <xs:element type="mxGeometryType" name="mxGeometry"/>
      <xs:element type="mxCellType" name="mxCell"/>
      <xs:element type="ImplicitOutputPortType" name="ImplicitOutputPort"/>
      <xs:element type="ImplicitInputPortType" name="ImplicitInputPort"/>
      <xs:element type="OrientationType" name="Orientation"/>
      <xs:element type="ExplicitOutputPortType" name="ExplicitOutputPort"/>
      <xs:element type="ExplicitInputPortType" name="ExplicitInputPort"/>
      <xs:element type="CommandPortType" name="CommandPort"/>
      <xs:element type="ControlPortType" name="ControlPort"/>
      <xs:element type="SuperBlockDiagramType" name="SuperBlockDiagram"/>
    </xs:choice>
    <xs:attribute type="xs:string" name="blockType" use="optional"/>
    <xs:attribute type="xs:string" name="id" use="optional"/>
    <xs:attribute type="xs:byte" name="ordering" use="optional"/>
    <xs:attribute type="xs:string" name="parent" use="optional"/>
    <xs:attribute type="xs:string" name="simulationFunctionType" use="optional"/>
    <xs:attribute type="xs:string" name="style" use="optional"/>
    <xs:attribute type="xs:byte" name="connectable" use="optional"/>
    <xs:attribute type="xs:string" name="interfaceFunctionName" use="optional"/>
    <xs:attribute type="xs:string" name="simulationFunctionName" use="optional"/>
    <xs:attribute type="xs:string" name="value" use="optional"/>
    <xs:attribute type="xs:byte" name="vertex" use="optional"/>
    <xs:attribute type="xs:byte" name="visible" use="optional"/>
    <xs:attribute type="xs:string" name="as" use="optional"/>
    <xs:attribute type="xs:string" name="dataType" use="optional"/>
    <xs:attribute type="xs:short" name="angle" use="optional"/>
    <xs:attribute type="xs:byte" name="dependsOnU" use="optional"/>
    <xs:attribute type="xs:byte" name="dataLines" use="optional"/>
    <xs:attribute type="xs:short" name="connectedLinkId" use="optional"/>
    <xs:attribute type="xs:byte" name="dataColumns" use="optional"/>
    <xs:attribute type="xs:byte" name="dependsOnT" use="optional"/>
    <xs:attribute type="xs:byte" name="edge" use="optional"/>
    <xs:attribute type="xs:string" name="source" use="optional"/>
  </xs:complexType>
  <xs:complexType name="PrintBlockType" mixed="true">
    <xs:choice maxOccurs="unbounded" minOccurs="0">
      <xs:element type="ScilabStringType" name="ScilabString"/>
      <xs:element type="ScilabDoubleType" name="ScilabDouble"/>
      <xs:element type="ArrayType" name="Array"/>
      <xs:element type="mxGeometryType" name="mxGeometry"/>
      <xs:element type="mxCellType" name="mxCell"/>
      <xs:element type="ImplicitOutputPortType" name="ImplicitOutputPort"/>
      <xs:element type="ImplicitInputPortType" name="ImplicitInputPort"/>
      <xs:element type="OrientationType" name="Orientation"/>
      <xs:element type="ExplicitOutputPortType" name="ExplicitOutputPort"/>
      <xs:element type="ExplicitInputPortType" name="ExplicitInputPort"/>
      <xs:element type="CommandPortType" name="CommandPort"/>
      <xs:element type="ControlPortType" name="ControlPort"/>
      <xs:element type="SuperBlockDiagramType" name="SuperBlockDiagram"/>
    </xs:choice>
    <xs:attribute type="xs:string" name="id" use="optional"/>
    <xs:attribute type="xs:string" name="interfaceFunctionName" use="optional"/>
    <xs:attribute type="xs:byte" name="ordering" use="optional"/>
    <xs:attribute type="xs:string" name="parent" use="optional"/>
    <xs:attribute type="xs:string" name="simulationFunctionName" use="optional"/>
    <xs:attribute type="xs:string" name="simulationFunctionType" use="optional"/>
    <xs:attribute type="xs:string" name="style" use="optional"/>
    <xs:attribute type="xs:string" name="value" use="optional"/>
    <xs:attribute type="xs:string" name="blockType" use="optional"/>
    <xs:attribute type="xs:byte" name="connectable" use="optional"/>
    <xs:attribute type="xs:string" name="dataType" use="optional"/>
    <xs:attribute type="xs:string" name="as" use="optional"/>
    <xs:attribute type="xs:byte" name="dataColumns" use="optional"/>
    <xs:attribute type="xs:byte" name="dataLines" use="optional"/>
    <xs:attribute type="xs:short" name="angle" use="optional"/>
    <xs:attribute type="xs:byte" name="dependsOnU" use="optional"/>
    <xs:attribute type="xs:short" name="connectedLinkId" use="optional"/>
    <xs:attribute type="xs:byte" name="visible" use="optional"/>
    <xs:attribute type="xs:byte" name="dependsOnT" use="optional"/>
    <xs:attribute type="xs:byte" name="vertex" use="optional"/>
    <xs:attribute type="xs:byte" name="edge" use="optional"/>
    <xs:attribute type="xs:string" name="source" use="optional"/>
    <xs:attribute type="xs:float" name="initialState" use="optional"/>
  </xs:complexType>
  <xs:complexType name="EventOutBlockType" mixed="true">
    <xs:choice maxOccurs="unbounded" minOccurs="0">
      <xs:element type="ScilabStringType" name="ScilabString"/>
      <xs:element type="ScilabDoubleType" name="ScilabDouble"/>
      <xs:element type="ArrayType" name="Array"/>
      <xs:element type="mxGeometryType" name="mxGeometry"/>
      <xs:element type="mxCellType" name="mxCell"/>
      <xs:element type="ImplicitOutputPortType" name="ImplicitOutputPort"/>
      <xs:element type="ImplicitInputPortType" name="ImplicitInputPort"/>
      <xs:element type="OrientationType" name="Orientation"/>
      <xs:element type="ExplicitOutputPortType" name="ExplicitOutputPort"/>
      <xs:element type="ExplicitInputPortType" name="ExplicitInputPort"/>
      <xs:element type="CommandPortType" name="CommandPort"/>
      <xs:element type="ControlPortType" name="ControlPort"/>
      <xs:element type="SuperBlockDiagramType" name="SuperBlockDiagram"/>
    </xs:choice>
    <xs:attribute type="xs:string" name="blockType" use="optional"/>
    <xs:attribute type="xs:string" name="id" use="optional"/>
    <xs:attribute type="xs:byte" name="ordering" use="optional"/>
    <xs:attribute type="xs:string" name="parent" use="optional"/>
    <xs:attribute type="xs:string" name="simulationFunctionType" use="optional"/>
    <xs:attribute type="xs:string" name="value" use="optional"/>
    <xs:attribute type="xs:string" name="as" use="optional"/>
    <xs:attribute type="xs:byte" name="connectable" use="optional"/>
    <xs:attribute type="xs:string" name="dataType" use="optional"/>
    <xs:attribute type="xs:string" name="style" use="optional"/>
    <xs:attribute type="xs:short" name="angle" use="optional"/>
    <xs:attribute type="xs:byte" name="dependsOnU" use="optional"/>
    <xs:attribute type="xs:string" name="interfaceFunctionName" use="optional"/>
    <xs:attribute type="xs:string" name="simulationFunctionName" use="optional"/>
    <xs:attribute type="xs:byte" name="dataLines" use="optional"/>
    <xs:attribute type="xs:short" name="connectedLinkId" use="optional"/>
    <xs:attribute type="xs:byte" name="dataColumns" use="optional"/>
    <xs:attribute type="xs:byte" name="visible" use="optional"/>
    <xs:attribute type="xs:byte" name="dependsOnT" use="optional"/>
    <xs:attribute type="xs:byte" name="vertex" use="optional"/>
    <xs:attribute type="xs:byte" name="edge" use="optional"/>
    <xs:attribute type="xs:string" name="source" use="optional"/>
  </xs:complexType>
</xs:schema>
