scilab/modules/functions/xml/gateway.dtd

<!ELEMENT GATEWAY (META?,PRIMITIVE*)>
<!ATTLIST GATEWAY name CDATA #IMPLIED>

<!ELEMENT META (#PCDATA)>

<!ATTLIST META 
CATEGORY 	CDATA 	"Scilab Gateway" 	 
VERSION_SCI 	CDATA 	"5.0" 	 
VERSION_DOC 	CDATA 	"1.0" 	 
AUTHOR 	CDATA 	"Allan CORNET INRIA 2007" 	 
 >


<!ELEMENT PRIMITIVE (#PCDATA)>
<!ATTLIST PRIMITIVE gatewayId CDATA #IMPLIED>
<!ATTLIST PRIMITIVE primitiveId CDATA #IMPLIED>
<!ATTLIST PRIMITIVE primitiveName CDATA #IMPLIED>
