scilab/modules/functions/xml/gateway.dtd

<!ELEMENT GATEWAY (META?,PRIMITIVE*)>

<!ELEMENT META (#PCDATA)>

<!ATTLIST META 
CATEGORY 	CDATA 	"Scilab Gateway" 	 
VERSION_SCI 	CDATA 	"5.0" 	 
VERSION_DOC 	CDATA 	"1.0" 	 
AUTHOR 	CDATA 	"Allan CORNET INRIA 2007" 	 
 >

<!ELEMENT PRIMITIVE (GATEWAY_ID,PRIMITIVE_ID,PRIMITIVE_NAME)>

<!ELEMENT GATEWAY_ID (#PCDATA)>
<!ELEMENT PRIMITIVE_ID (#PCDATA)>
<!ELEMENT PRIMITIVE_NAME (#PCDATA)>
