scilab/modules/functions/xml/gateway.dtd

<!ELEMENT GATEWAY ( PRIMITIVE+ ) >
<!ATTLIST GATEWAY name NMTOKEN #REQUIRED >

<!ATTLIST META 
CATEGORY 	CDATA 	"Scilab gateway" 	 
VERSION_SCI 	CDATA 	"5.3" 	 
VERSION_DOC 	CDATA 	"1.0" 	 
AUTHOR 	CDATA 	"Allan CORNET DIGITEO 2010" 	 
 >

<!ELEMENT PRIMITIVE EMPTY >
<!ATTLIST PRIMITIVE gatewayId CDATA #REQUIRED >
<!ATTLIST PRIMITIVE primitiveId NMTOKEN #REQUIRED >
<!ATTLIST PRIMITIVE primitiveName CDATA #REQUIRED >
